* {
  box-sizing: border-box;
}

nav {
  height: 65px;
  background: linear-gradient(123deg, rgba(134,122,233,1) 10%, rgba(177,175,255,1) 50%, rgba(253,253,189,1) 90%);
  display: flex;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  letter-spacing: -2px;
  color: #FFFFE8;
  text-shadow: 1px 1px 1px black;
  padding: 5px;
}
.logo {
  height: 30px;
  margin: 10px;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}
.inputField {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;

}
.btn {
  grid-column: 1/-1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 25px;
  background-color: #867AE9;
  color: #FDFDBD;
  border: none;
  box-shadow: 3px 3px 3px black;
  text-shadow: 1px 1px 1px black;
}
.inputField, .btn {
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  
}