* {
  box-sizing: border-box;
}

nav {
  height: 65px;
  margin: 0 auto;
  background: linear-gradient(123deg, rgba(134,122,233,1) 10%, rgba(177,175,255,1) 50%, rgba(253,253,189,1) 90%);
  display: flex;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  letter-spacing: -2px;
  color: #FFFFE8;
  text-shadow: 1px 1px 1px black;
  padding: 5px;
}
.logo {
  height: 30px;
  margin: 10px;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}
.inputField {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #D5D4D8;

}
.btn {
  grid-column: 1/-1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 23px;
  background-color: #867AE9;
  color: #FDFDBD;
  border: none;
  box-shadow: 3px 3px 3px black;
  text-shadow: 1px 1px 1px black;
}
.inputField, .btn {
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  
}
.memeImage {
  max-width: 100%;
  padding: 40px;
}
.meme {
  position: relative;
}
.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 40px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
